<app-header></app-header>
<main>
  <div class="vh-100 d-flex justify-content-center mt-3">
    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Função</th>
                    <th scope="col">Acesso</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of usuarios">
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.telefone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.funcao }}</td>
                    <td>{{ item.acesso }}</td>
                    <td>{{ item.cep }}</td>
                    <td>{{ item.endereco }}</td>
                    <td>{{ item.bairro }}</td>
                    <td>{{ item.cidade }}</td>
                    <td>{{ item.estado }}</td>
                    <td>
                      <button class="btn btn-sm btn-primary" style="margin-right: 20px;" (click)="editar(1)"><i class="bi bi-pencil-square"></i></button>
                      <button class="btn btn-sm btn-danger" (click)="excluir(1)"><i class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</main>
<app-footer></app-footer>
