<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
        <img src="https://assets.website-files.com/5f209f5c6080c8ba094f2c40/5f3258dc3cb04c09d9b44629_heat-0.svg" alt="logo" class="bi me-2" width="" height="40px" role="img" aria-label="Logo">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/usuarios" class="nav-link px-2 text-white">Usuarios</a></li>
        <li><a routerLink="/clientes" class="nav-link px-2 text-white">Clientes</a></li>
        <li><a routerLink="/modalidades" class="nav-link px-2 text-white">Modalidade</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</header>
