<app-header *ngIf="logado"></app-header>
<div class="container">
  <div class="py-5 text-center">
    <h2>Cadastro</h2>
    <p class="lead">Cadastro de usuário</p>
    <p class="lead">Os campos: nome, marca e modelo são obrigatórios!</p>
  </div>

  <div class="row">
    <div class="col order-md-1">
      <h4 class="mb-3">Informações do usuário</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="" value="" required="">
            <div class="text-danger">
              <p style="min-height: 30px;"></p>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="" value="" required="">
            <div class="text-danger">
              <p style="min-height: 30px;"></p>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="" required="">
            <div class="text-danger">
              <p style="min-height: 30px;"></p>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="" >
            <div class="text-danger">
              <p style="min-height: 30px;"></p>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <p>select acesso</p>
            <div class="text-danger">
              <p style="min-height: 30px;"></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" placeholder="" value="">
            <div class="text-danger">
              <p style="min-height: 30px;"></p>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="" value="0" disabled>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" placeholder="" value="" disabled>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="" value="0" disabled>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" placeholder="" value="" disabled>
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" (click)="cadastrar()">Cadastrar</button>
        <button routerLink="/usuarios" class="btn btn-warning btn-lg btn-block" style="margin-left: 10px;">Voltar</button>
    </div>
  </div>
</div>
<app-footer *ngIf="logado"></app-footer>
