<main class="form-signin w-100 m-auto">
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <h1 class="h3 mb-3 fw-normal" style="margin-top: 200px;">Faça login</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="senha">
      <label for="floatingPassword">Senha</label>
    </div>
    <div class="container" style="min-height: 50px;">
      <div *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched">
        <small style="color: red; font-style: italic; font-weight: bold; font-size: 10px;">Campo Email Obrigatório</small>
      </div>
      <div *ngIf="formLogin.get('email')?.errors?.['email'] && formLogin.get('email')?.touched">
        <small style="color: red; font-style: italic; font-weight: bold; font-size: 10px;">Insira um email válido</small>
      </div>
      <div *ngIf="formLogin.get('senha')?.errors?.['required'] && formLogin.get('senha')?.touched">
        <small style="color: red; font-style: italic; font-weight: bold; font-size: 10px;">Campo Senha Obrigatório</small>
      </div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">© FOURSYS 2022</p>
  </form>
</main>
