<div class="d-flex" style="height: 100vh; width: 100%; background-color: rgb(230, 230, 230);">
  <main class="form-signin w-100 m-auto" style="background-color: white; border-radius: 5%;">
      <img class="mb-4" src="https://www.foursys.com.br/images/logo-foursys2.png" alt=""height="57">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Usuário" [(ngModel)]="usuario">
        <label for="floatingInput">Usuário</label>
        <p class="text-danger" style="min-height: 35px;">{{ validaUsuario }}</p>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="senha">
        <label for="floatingPassword">Senha</label>
        <p class="text-danger" style="min-height: 35px;">{{ validaSenha }}</p>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar de mim
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="login()">Login</button>
      <a routerLink="/usuarios/cadastrar">Criar conta</a>
      <p class="mt-5 mb-3 text-muted">© Foursys 2022</p>
  </main>
</div>
