<div class="container">
  <h1 class="mb-3">Produtos</h1>
  <button routerLink="/produtos/cadastrar" class="btn btn-primary mb-3" *ngIf="isAdmin()">Novo produto</button>
  <table class="table w-100">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th *ngIf="isAdmin()">Preço de custo</th>
        <th>Preço de venda</th>
        <th *ngIf="isAdmin()">Estoque Mínimo</th>
        <th>Estoque Atual</th>
        <th *ngIf="isAdmin()">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of produtos">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.modelo }}</td>
        <td *ngIf="isAdmin()">R$ {{ item.precoCusto.toFixed([2]) }}</td>
        <td>R$ {{ item.precoVenda.toFixed([2]) }}</td>
        <td *ngIf="isAdmin()">{{ item.estoqueMinimo }}</td>
        <td>{{ item.estoqueAtual }}</td>
        <td *ngIf="isAdmin()">
          <button class="btn btn-warning" style="margin-right: 5px;" (click)="editar(item.id)">Editar</button>
          <button class="btn btn-danger" (click)="deletar(item.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
