<app-header></app-header>
<main>
  <div class="d-flex justify-content-center mt-3">
    <div class="text-center">
      <button routerLink="/modalidades/cadastro" class="btn btn-primary w-100 mb-3 mt-3">Nova modalidade</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modalidade</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Horário</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of modalidades">
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.modalidade }}</td>
                    <td>{{ item.turno }}</td>
                    <td>{{ item.horario }}</td>
                    <td>
                      <button class="btn btn-sm btn-primary" style="margin-right: 20px;" (click)="editar(item.id)"><i class="bi bi-pencil-square"></i></button>
                      <button class="btn btn-sm btn-danger" (click)="excluir(item.id)"><i class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</main>
<app-footer></app-footer>
